@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.comment-container .comment-form img {
  width: 100px!important;
  height: 100px!important;
  margin: 0.9!important;
  border-radius: 100%!important;
}

/* Navbar */

.bg-blue {
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

.navbar-dark .navbar-nav .nav-link {
  color: white!important;
}

.navbar a {
  font-size: 1em!important;
  color: white!important;
  font-weight: 600;
}

.nav-link {
  font-size: 1em!important;
  color: #1e3c72!important;
  font-weight: 600;
}
.navbar-expand .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: .5rem;
}

.nav-icon {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 3.5em!important;
}

.nav-icon-post {
  position: absolute;
  top: 15px;
  right: 60px;
  font-size: 3.5em!important;
}

.delete-comment-icon {
  position: relative;
  top: -135px!important;
  left: 110%;
  font-size: 1.3em!important;
  color: red!important;
}

a.post-link {
  margin-left: 20px!important;
  color: #1e3c72!important;
}

p#created-at {
  width: 100%!important;
  margin-left: 0!important;
}

.show-article {
  width: 100%;
}
.show-article p {
  text-align: left!important;
}

/* Loading */

@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 6px solid #1e3c72;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  margin: -15px 0 -15px;
}

/* Progressive animation*/

.appear-animation:nth-child(1) {
  animation: appear 1s ease 0s 1 normal;
  -webkit-animation: appear 1s ease 0s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.appear-animation:nth-child(2) {
  animation: appear 2s ease 2s 1 normal;
  -webkit-animation: appear 2s ease 1s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.appear-animation:nth-child(3) {
  animation: appear 3s ease 4s 1 normal;
  -webkit-animation: appear 3s ease 2s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.appear-animation:nth-child(4) {
  animation: appear 4s ease 6s 1 normal;
  -webkit-animation: appear 4s ease 3s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.appear-animation:nth-child(5) {
  animation: appear 5s ease 8s 1 normal;
  -webkit-animation: appear 5s ease 4s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.appear-animation:nth-child(6) {
  animation: appear 6s ease 10s 1 normal;
  -webkit-animation: appear 6s ease 5s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.appear-animation:nth-child(7) {
  animation: appear 7s ease 12s 1 normal;
  -webkit-animation: appear 7s ease 6s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.appear-animation:nth-child(8) {
  animation: appear 8s ease 14s 1 normal;
  -webkit-animation: appear 8s ease 7s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.appear-animation:nth-child(9) {
  animation: appear 9s ease 16s 1 normal;
  -webkit-animation: appear 9s ease 8s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.appear-animation:nth-child(10) {
  animation: appear 10s ease 18s 1 normal;
  -webkit-animation: appear 10s ease 9s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animation-fadeinup {
  opacity: 0;
}

.fadeinup {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* fadeInUp */
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* appear */
@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

/* Home */
.container p.home-text {
  font-size: 1.3em!important;
  font-weight: 500!important;
}

.container p.home-text a:hover {
  color: #000;
}

/* Form */
form .form-group {
  margin-bottom: 15px!important;
}

.form-label {
 color: #1e3c72!important;
}

form .form-group label,
input.form-control,
span.error {
  font-size: 1em!important;
  font-weight: 500;
  margin-left: 8%!important;
  color: #1e3c72!important;
}

span.error {
  color: #ff0909!important;
}

/* Backgrounds */

#root {
  font-size: 1.115em;
  font-family: 'Open Sans', sans-serif;
}

#root p {
  padding: 15px;
}

#root a {
  border: none!important;
  text-decoration: none!important;
}
#root a img {
  width: 50px!important;
  height: 50px!important;
  margin-left: 10px!important;
  border-radius: 100%;
  margin-bottom: 1.5em!important;
  margin-top: -5px!important;
  text-decoration: none;
  vertical-align: middle!important;
}

#root a img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

#root textarea {
  margin: 1em!important;
  width: 95%!important;
}

.logo-home-container {
  display: flex;
  justify-content: space-around;
}

.logo-home {
  width: 50%;
  height: 50%;
  padding: 25px;
}

h1.text-logo,
.text-logo a{
  font-size: 1.115em;
  color: white;
  margin-top: -65px;
  margin-left: 87px!important;
  margin-right: 40px!important;
}

.container {
  width: 70%;
  margin: 0.5em auto;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  color: #1e3c72!important;
}

.container h2 {
  font-size: 1.115em;
  text-align: center;
  color: #1e3c72!important;
}

.container p {
  font-size: 0.9em!important;
  text-align: center;
  color: #1e3c72;
  font-weight: 500;
}

.container p a {
  font-size: 0.9em;
  font-weight: bold;
  color: #1e3c72;
}

.container p a:hover {
  color: #000;
}

.container .post-control {
  margin: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .post-control button {
  border: none;
  margin: 1em;
}

.container .comment-card {
  margin-top: 1.5em;
  padding: 1.5em;
}

.container .comment-card h2 {
  font-size: 1.115em;
}

.container .comment-card h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8em;
}

.container .comment-card h3 a {
  padding: 0em;
  margin-left: 0.5em;
  color: #c3c3c3;
}

.container .comment-card h3 a:hover {
  color: #000;
}

.post-img  {
  display: flex;
  justify-content: center;
  border-radius: 0%!important;
}

.post-img img {
  min-width: 250px;
  min-height: 250px;
  width: 600px!important;
  height: 600px!important;
  border-radius: 0%!important;
}

.post-img-prev img {
  min-width: 250px;
  min-height: 250px;
  width: 400px!important;
  height: 400px!important;
}

.post-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 25%);
  border-radius: 15px;
  border: 0.5px;
  border-style: dashed;
  border-color: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  margin: 0.5em;
  padding: 0.5em;
}

.post-card img {
  width: 120px;
  height: 120px;
  margin: 1.115em;
  border-radius: 100%;
}

.post-card .display-post {
  margin: 0.5em;
}

.post-card .display-post h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  color: black;
}

.post-card .display-post h2 a {
  font-weight: bold;
  padding: 0em;
  margin-left: 0.5em;
  color: black;
}

.post-card .display-post h2 a:hover {
  color: #6e1313;
}

.post-card .display-post h3 {
  font-size: 0.9em;
  color: #454545;
  text-align: left;
}

.post-card .display-post p {
  white-space: pre-line;
  text-align: left;
  color: black;
}

.post-card .display-post #created-at {
  font-size: 1.115em;
  color: #454545;
}

.post-card .display-post a {
  color: #c3c3c3;
  padding-left: 0em;
  text-align: left;
}

.post-card .display-post a:hover {
  color: #6e1313;
}

.form-submit {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-submit .btn {
  margin: 1.5em;
}

.btn-secondary {
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%)!important;
}

.admin-account {
  color: rgb(158, 2, 2)!important;
}

.user-title {
  margin-left: -5%!important;
}

.imgPreview {
  margin-left: 25%;
  padding: 15px;
}

.submitButton {
  margin-left: 17%!important;
}

.user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.user-container .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  width: 100%;
  height: 100%;
}

.user-container .images img {
  width: 150px;
  height: 150px;
  margin: 0em auto 0em auto;
  border-radius: 100%;
}

.user-container .images button {
  margin: 1.115em auto 0em auto;
  width: 60%;
  padding: 0em;
}

.user-container .display-post {
  margin-left: 1em;
  margin-right: 1em;
  width: 80%;
}

.user-container .display-post h2 {
  font-size: 1em;
  font-weight: bold;
  text-align: left;
}

.user-container .display-post p {
  white-space: pre-line;
  text-align: left;
}

.user-container .user-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal!important;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  padding: 1.5em;
}

.user-container .user-button p {
  font-weight: bold;
}

.user-container .user-button .btn {
  padding: 0em;
  margin: 0.5em;
}

.user-post {
  background-color: none!important;
}

.user-post h2 {
  font-size: 1.1em;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  margin-top: 2em;
  margin-bottom: 2em;
}

.user-post p {
  font-size: 0.9em;
  text-align: left;
  color: #1e3c72;
}

.user-post a {
  font-size: 1em;
  font-weight: bold;
  color: #c3c3c3;
  color: #c3c3c3;
}

.user-post a:hover {
  color: #6e1313;
}

.user-post .user-posts {
  border-radius: 15px;
  border: 0.5px;
  border-style: dashed;
  border-color: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  margin: 0.5em;
  padding: 0.5em;
}

.user-post .user-posts a {
  font-weight: bold;
  padding: 0em 0em 0.5em 0em;
  color: #c3c3c3;
}

.user-post .user-posts a:hover {
  color: #6e1313;
}

.user-post .user-posts p {
  white-space: pre-line;
  font-size: 1em;
  margin-bottom: 0.6em;
}

.user-post .user-posts h3 {
  font-size: 0.8em;
}

.post-container {
  border-radius: 15px;
  border: 0.5px;
  border-style: dashed;
  border-color: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  margin: 0.5em;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-container img {
  width: 150px;
  height: 150px;
  margin: 1em;
  border-radius: 100%;
}

.post-container .post-text {
  margin-top: 1.5em;
  padding: 1.5em;
  width: 80%;
}

.post-container .post-text h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  color: black;
  margin-bottom: 1.115em;
}

.post-container .post-text h2 a {
  font-weight: bold;
  padding: 0em;
  margin-left: 0.5em;
  color: #1e3c72;
}

.post-container .post-text h2 a:hover {
  color: black;
}

.post-container .post-text p {
  text-align: left;
}

.post-container .post-text .post-page {
  margin: 1em 0em 0em 0em;
}

.post-container .post-text .post-page .display-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 0.5em;
  width: 70%;
}

.post-container .post-text .post-page .display-post p {
  white-space: pre-line;
  text-align: left;
  margin-bottom: 0.2em;
}

.post-container .post-text .post-page .display-post a {
  padding: 0.5em 0em 0.6em 0em;
  color: #c3c3c3;
  font-size: 0.9em;
}

.post-container .post-text .post-page .display-post a:hover {
  color: #000;
}

.post-container .post-text .post-page .post-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post-container .post-text .post-page .post-button button {
  margin: 0.7em;
}

.likes-icon {
  font-size: 1.5em;
  color: none!important;
}

.likes-icon:hover {
  font-size: 1.5em;
  color: #ff0909!important;
}

.post-container .post-text .likes {
  z-index: 9999!important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
}

.post-container .post-text .likes button {
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 20%)!important;
  border: none;
  display: flex;
  border-radius: 15px;
  border: 0.5px;
  border-style: dashed;
  border-color: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  margin: 0.5em;
  padding: 0.5em;
}

.comment-container h2 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 1.5em;
  color: whitesmoke;
}

.comment-container h3 {
  font-size: 1.115em;
  font-weight: bold;
  color: #1e3c72;
}

.comment-container p {
  text-align: left;
}

.comment-container .post-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  border: 0.5px;
  border-style: dashed;
  border-color: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  margin: 0.5em;
  padding: 0.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment-container .post-comment form input {
  margin-left: 0.4em;
}

.comment-container .post-comment .form-submit {
  margin: 0em 1em 0em 1em;
}

.comment-container .post-comment .form-submit button {
  margin: 0em;
}

.comment-container .comment-form {
  display: flex;
  border-radius: 15px;
  border: 0.5px;
  border-style: dashed;
  border-color: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  margin: 0.5em;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
}

.comment-container .comment-form .comment-card {
  width: 80%;
  margin: 0em;
}

.comment-container .comment-form .comment-card h3 {
  color: #454545;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8em;
}

.comment-container .comment-form .comment-card h3 a {
  padding: 0em;
  margin-left: 0.5em;
}

.comment-container .comment-form .comment-card p {
  font-size: 1.115em;
}

.comment-container .comment-form .comment-card .content-comment {
  font-size: 0.9em;
  font-weight: bold;
  white-space: pre-line;
  margin-bottom: 0.5em;
}

.comment-container .comment-form .comment-card .post-control {
  margin: 0em;
}

.comment-container .comment-form .comment-card .post-control a {
  font-size: 1.115em;
  padding: 0.5em;
  color: #c3c3c3;
}

.comment-container .comment-form .comment-card .post-control a:hover {
  color: #6e1313;
}

.update-image {
  -webkit-box-shadow: 0 0 5px #c3c3c3;
          box-shadow: 0 0 5px #c3c3c3;
  margin-top: 1.5em;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.update-image .addPhotoForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
}

button.submitImg {
  margin-left: 39%!important;
  margin-top: 20px;
}

.update-image .addPhotoForm input {
  width: 50%;
  margin-right: 1em;
}

input.form-control {
  width: 80%;
  margin-left: 7%;
}

.update-image a {
  margin: 1em;
  width: 30%;
}

@media only screen and (max-width: 360px) {
  .container {
    width: 100%;
    padding: 1.5em;
  }
  .container .comment-card h3 {
    font-size: 0.8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0.5em;
  }
  .container .comment-card h3 a {
    margin: 0em;
  }
  .container .comment-card p {
    font-size: 1em;
    margin-top: 2em;
  }
  .container .comment-card .post-control {
    margin: 0.5em auto auto auto;
  }
  #root a {
    margin-left: 0.7em;
  }
  .user-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .user-container .images {
    margin: auto;
    width: 100%;
  }
  .user-container .images img {
    margin: 0.5em auto 0.5em auto;
  }
  .user-container .images button {
    width: auto;
    padding: 1.5em;
  }
  .user-container .display-post {
    margin: 2em auto 2em auto;
    width: 90%;
  }
  .user-container .user-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: auto;
    width: 80%;
  }
  .update-image .addPhotoForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .update-image .addPhotoForm input {
    width: auto;
    margin: 1em;
  }
  .update-image .addPhotoForm button {
    width: 40%;
    margin: auto;
  }
  .update-image a {
    margin: auto;
    width: 50%;
  }
  .post-card {
    padding: 0em;
    margin: 0.5em auto 0.5em auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .post-card img {
    margin: 1em auto 1em auto;
  }
  .post-container {
    border-radius: 15px;
    border: 0.5px;
    border-style: dashed;
    border-color: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    margin: 0.5em;
    padding: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .post-container img {
    margin: 1em auto auto auto;
    width: 15%;
    height: 15%;
  }
  .post-container .post-text {
    margin: 0.5em auto auto auto;
    width: 100%;
  }
  .comment-container .post-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2em;
  }
  .comment-container .post-comment form input {
    width: 90%;
  }
  .comment-container .post-comment .form-submit {
    margin: 1em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .comment-container .comment-form {
    margin: 0.5em;
    padding: 0em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comment-container .comment-form .comment-card {
    margin: 0em;
    padding: 0.5em;
    width: 100%;
  }
  .comment-container .comment-form .comment-card h3 {
    font-size: 0.8em;
    margin-bottom: 0.7em;
  }
  .comment-container .comment-form .comment-card h3 .nav-link {
    margin: 0em;
  }
  .comment-container .comment-form .comment-card p {
    font-size: 1.115em;
    margin: 0.5em 0em 0.5em 0em;
  }
}

@media only screen and (max-width: 780px) and (min-width: 360px) {
  .container {
    width: 100%;
    padding: 1.5em;
  }
  .container .comment-card h3 {
    font-size: 0.8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0.5em;
  }
  .container .comment-card h3 a {
    margin: 0em;
  }
  .container .comment-card p {
    font-size: 1em;
    margin-top: 2em;
  }
  .container .comment-card .post-control {
    margin: 0.5em auto auto auto;
  }

  .user-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .user-container .images {
    margin: auto;
    width: 100%;
  }
  .user-container .images img {
    margin: 0.5em auto 0.5em auto;
  }
  .user-container .images button {
    width: auto;
    padding: 0.2em;
  }
  .user-container .display-post {
    margin: 2em auto 2em auto;
    width: 90%;
  }
  .user-container .user-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: auto;
    width: 80%;
  }
  .update-image .addPhotoForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .update-image .addPhotoForm input {
    width: auto;
    margin: 1em;
  }
  .update-image .addPhotoForm button {
    width: 40%;
    margin: auto;
  }
  .update-image a {
    margin: auto;
    width: 50%;
  }
  .post-card {
    padding: 0em;
    margin: 0.5em auto 0.5em auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .post-card img {
    width: 120px;
    height: 120px;
    margin: 1em auto 1em auto;
  }

  .post-container img {
    margin: 1em auto auto auto;
    width: 15%;
    height: 15%;
  }
  .post-container .post-text {
    margin: 0.5em auto auto auto;
    width: 100%;
  }
  .comment-container .post-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2em;
  }
  .comment-container .post-comment .form-submit {
    margin: 1em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .comment-container .comment-form {
    margin: 0.5em;
    padding: 0em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .comment-container .comment-form .comment-card {
    margin: auto;
    width: 100%;
    padding: 0.5em;
  }
  .comment-container .comment-form .comment-card h3 {
    font-size: 0.8em;
  }
  .comment-container .comment-form .comment-card h3 a {
    margin: 0em;
  }
  .comment-container .comment-form .comment-card p {
    font-size: 1.115em;
    margin: 0.5em 0em 1em 0em;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 780px) {
  .comment-container .post-comment {
    margin: auto;
    width: 70%;
  }
}